<mat-toolbar color="primary">
  <span>All Pricing History for GOOGL, GOOG, AMZN, AAPL, META, MSFT, NVDA, TSLA Since 2023-01-01 </span>
  <span class="example-spacer"></span>
</mat-toolbar>


<div [hidden]="selected==false" class="main-body">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. AAPL" #input>
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8">

      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Date">
          Date
        </th>
        <td mat-cell *matCellDef="let element"> {{element.Date|date:'YYYY-MM-dd'}} </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Trading Symbol">
          Trading Symbol
        </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>



      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by companyName">
          Company Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
      </ng-container>

      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by currency">
          Currency
        </th>
        <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
      </ng-container>

      <ng-container matColumnDef="Open">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Open">
          Opening Price
        </th>
        <td mat-cell *matCellDef="let element"> {{element.Open|currency:'USD':'symbol':'1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="Low">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Low">
          Low
        </th>
        <td mat-cell *matCellDef="let element"> {{element.Low|currency:'USD':'symbol':'1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="High">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by High">
          High
        </th>
        <td mat-cell *matCellDef="let element"> {{element.High|currency:'USD':'symbol':'1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="Close">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Close">
          Close Price
        </th>
        <td mat-cell *matCellDef="let element"> {{element.Close|currency:'USD':'symbol':'1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="marketCap">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by current marketCap">
          MarketCap
        </th>
        <td mat-cell *matCellDef="let element"> {{element.marketCap| currency:'USD':'symbol': '2.0-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="priceToBook">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by priceToBook">
          Price To Book
        </th>
        <td mat-cell *matCellDef="let element"> {{element.priceToBook|number:'1.2-2' }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
      aria-label="Select page of items">
    </mat-paginator>
    <!-- <router-outlet></router-outlet> -->
  </div>
</div>